body {
 margin: 0;
 padding: 0;
 background-color: black;
 box-sizing: border-box;
 font-family: Arial, sans-serif;
}

h1 {
    font-family: var(--fonte-titulo);
    background-color: black;
    color: blue;
}

p {
    font-family: var(--fonte-corpo);
    background-color: black;
    color: blue;
}
header {
 padding: 20px;
}

.menu-button {
 background-color: transparent;
 border: none;
 cursor: pointer;
 font-size: 24px;
}

nav {
 display: none;
}

nav ul {
 list-style-type: none;
 padding: 0;
}

nav ul li {
 margin-bottom: 10px;
}

nav ul li a {
 color: blue;
 text-decoration: none;
}

:root {
 --cor-primaria: blue;
 --cor-secundaria: black;
}

header {
 background-color: var(--cor-primaria);
 color: white;
}

nav ul li a:hover {
 color: white;
}

:root {
 --fonte-titulo: Arial, sans-serif;
 --fonte-corpo: Times New Roman, serif;
}

form {
    margin-top: 20px;
    color: blue;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 16px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: darkblue;
}
.left-image {
 position: absolute;
 left: 0;
 width: 650px;
 height: auto;
}

.right-image {
 position: absolute;
 right: 0;
 width: 650px; 
 height: auto; 
}
.dropdown:hover .dropdown-content {
    display: block;
}
